<div class="row">
    <form class="form" name="signup" ng-submit="loginUser()" >
        <fieldset > <legend>Login</legend>

        <div class="form-group" ng-class="{'has-error': signup.username.$invalid, 'has-success': signup.username.$valid}">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-control" ng-minlength="4" ng-model="login.username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" ng-model="login.password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
        </fieldset>
    </form>
</div>